<!DOCTYPE html>
<html>
<head>
    <title>test page</title>
</head>
<body>
<div>
    <span style="color: red;">if you see this text, the layout reference works like it should and there should be no inspection errors</span>
    
    @RenderBody()
</div>
</body>
</html>